# fly.toml app configuration file generated for core-cms-16 on 2025-12-03T00:40:48Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'core-cms-16'
primary_region = 'syd'

[build]

[deploy]
  release_command = 'npx prisma migrate deploy'
  seed_command = 'tsx prisma/seed.ts'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
